@import 'mdb-react-ui-kit/dist/css/mdb.min.css';

body{
    color:var(--mdb-black);
}
.w-100{
    height: 500px;
}

@media screen and (max-width: 600px){
   .w-100{
    height: 300px;
    object-fit: fill;

   }
}