.product_notfound_container{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}
.image_container{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}
.notfound_image{
    object-fit: contain;
}
@media screen and (max-width: 680px){
    .notfound_image{
        width: 100%;
    }
}
