@import url('https://fonts.googleapis.com/css?family=Roboto');

.address_form_main_container{
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
}
.address_form_form{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}
.address_div{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
    margin-bottom: 10px;
}
.submit_address_btn{
    background: black;
    color: white;
    border: none;
    padding: 5px;
    margin-right: 10px;
}
.submit_address_btn:hover{
    scale: 1.1;
    transition: 0.2s ease-in;
}

.otherspan{
    color: red;
    font-size: 18px;
    font-weight: bold;
}