@import url('https://fonts.googleapis.com/css?family=Roboto');


.cartpage_container{
    width: 100%;
    height: 100%;
    padding: 1rem 8rem 4rem 8rem;
    box-sizing: border-box;
}
.cartpage_other_spans{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 10px 0px 20px 0px;

}
.cartpage_main_div{
    display: flex;
    gap:20px;
}
.left_div{
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.right_div{
    width: 30%;
    height: 100%;
    border: 1px solid #b1afaf;
    border-radius: 10px;
    padding: 10px;
}
.Your_cart{
    font-size: 6rem;
}
.cartitems_main_container{
    display: flex;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    justify-content: space-between;
    gap: 20px;
}

.ist_div{
    display: flex;
    gap: 20px;
    align-items: center;
}

.item_image{
    height: 15rem;
    width: 15rem;
    box-sizing: border-box;
    object-fit: contain;
}
.carttem_maindiv_container{
    border: 1px solid #b1afaf;
    border-radius: 10px;
    padding: 10px;

}

.heading_span{
    font-weight: bold;
}
.plus{
    height: 30px;
    width: 30px;

}
.minus{
    height: 30px;
    width: 30px;

}
.remove_div{
    padding-top: 23px;

}
.order_summary{
    font-size: 4rem;
    /* text-align: center; */
    margin-bottom: 10px;
}
.promo_div{
    display: flex;
    width: 100%;
    box-sizing: border-box;
    gap: 10px;
    margin-bottom: 10px;
}
.order_summary_li{
    list-style-type: none;
    display: flex;
    width: 100%;
    box-sizing: border-box;
    justify-content: space-between;
}

.free_shipping_div{
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    color: green;
}
.checkout_btn{
    width: 100%;
    border: none;
    background-color: #f3f315;
    font-weight: bolder;
}
.sub_btn{
    border: none;
    background: black;
    color: white;
}
.checkout_btn:hover{
    /* box-shadow: 0px 0px 7px 1px #d5cbcb; */
    border: 1px solid black;
    transition: 0.2s ease-in;
}

.no_cart_div{
    width: 100%;
    height: 100%;
    object-fit: contain;
    box-sizing: border-box;
    margin-left: 26%;
}
.no_cart_img{
    height: 355px;
    width: 100%;
    object-fit: contain;
box-sizing: border-box;
}

.special_span{
    font-size: 21px;
    color: grey;
    margin-left: 10px
}
.second_div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

@media (max-width:700px) {
    .right_div{
        width: 100%;
    }
    .left_div{
        width: 100%;
    }
    .yourcart_div{
        width: 100%;
    text-align: center;
    }
    .cartpage_container{
        padding: 10px;
    }
    .cartpage_main_div{
        flex-direction: column;
    }
    .cartitems_main_container{
        flex-direction: column;
    }
    .Your_cart{
        font-size: 4rem;
    }
    .need_help_span{
        display: none;
    }
    .no_cart_div{
        margin-left: 0px;
    }
}